<!DOCTYPE html>
<html>
<head>
    <title>Articl - something with that name probably exists already</title>
    <!-- But I don't care -->
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>